.feedContainer {
  padding-bottom: 60px;
  background-color: $white;
  margin-top: 16px;

  .postagem {
    .link {
      text-decoration: none;
    }
    .cabecalhoPostagem {
      display: flex;
      align-items: center;
      padding: 6px 12px;
      .avatar {
        height: 32px;
        width: 32px;
        margin-right: 8px;
      }
      strong {
        font-size: 12px;
        color: $cinza04;
      }
    }

    .fotoDaPostagem {
      img {
        width: 100%;
        max-height: 360px;
        object-fit: cover;
      }
    }

    .rodapeDaPostagem {
      padding: 5px 16px;
      strong.nomeUsuario {
        font-size: 12px;
        float: left;
        margin-right: 4px;
      }

      p.descricao {
        font-size: 12px;
        margin: 0 0 2px;
        color: $cinza04;
      }

      .acoesDaPostagem {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        > img {
          margin-right: 12px !important;
        }

        .quantidadeCurtidas {
          font-family: $fontLight;
          font-size: 10px;
          color: $cinza04;

          strong {
            font-size: 10px;
            color: $cinza04;
          }
        }
      }
    }

    .comentariosDaPublicacao{
        padding: 5px 16px;
    }
  }
  @media screen and (min-width: $desktopBreakpoint) {
    padding-top: 8px;
  }
}
