@import "variables.scss";
@import "../public/fonts/fonts.scss";
/* Font import from public folder */

* {
  font-family: $fontRegular;
  font-size: 14px;

  html,
  body,
  #__next {
    height: 100%;
    margin:0;
  }
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.hidden {
  display: none;
}

/*  components css */
@import "../components/button/button.scss";
@import "./paginaPublica.scss"